<div class="card shadow p-3 mb-5 bg-body rounded">
   <div class="container">
    <div class="d-flex flex-column"> 
        <!-- Alertas -->
        <div class="alert alert-success col-12 mb-3" role="alert" *ngIf="showsuccess">
            Registro Realizado!!!
        </div>
        <div class="alert alert-danger col-12 mb-3" role="alert" *ngIf="showError">
            No se pudo realizar el registro!!!
        </div>
        <div class="card-body">
            <!-- Formulario -->
        <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
            <!-- campo usuario -->
            <div class="row mb-3">
                <div class="col-md-4 form-group">
                <label>Usuario</label>
                <input type="text" class="form-control" formControlName="usuario">
                <div *ngIf="usuarioForm.get('usuario')?.invalid && usuarioForm.get('usuario')?.touched">
                    <small *ngIf="usuarioForm.get('usuario')?.hasError('required')" class="text-danger">Usuario es requerido.</small>
                    <small *ngIf="usuarioForm.get('usuario')?.hasError('minlength')" class="text-danger">Debe tener al menos 3 caracteres.</small>
                </div>
            </div>
            <!-- campo clave -->
            <div class="col-md-4 form-group">
                <label>Clave</label>
                <input type="password" class="form-control" formControlName="clave">
                <div *ngIf="usuarioForm.get('clave')?.invalid && usuarioForm.get('clave')?.touched">
                    <small *ngIf="usuarioForm.get('clave')?.hasError('required')" class="text-danger">Clave es requerida.</small>
                    <small *ngIf="usuarioForm.get('clave')?.hasError('minlength')" class="text-danger">Debe tener al menos 6 caracteres.</small>
                </div>
            </div>
            <!-- campo DNI -->
        <div class="col-md-2 form-group">
            <label>DNI</label>
            <input type="text" class="form-control" formControlName="dni">
            <div *ngIf="usuarioForm.get('dni')?.invalid && usuarioForm.get('dni')?.touched">
                <small *ngIf="usuarioForm.get('dni')?.hasError('required')" class="text-danger">DNI es requerido.</small>
                <small *ngIf="usuarioForm.get('dni')?.hasError('pattern')" class="text-danger">DNI debe tener 8 dígitos.</small>
            </div>
        </div>
        </div>
        
            <!-- Campo de nombre y apellido -->
            <div class="row mb-3">
                <div class="col-md-4 form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" formControlName="nombre">
                    <div *ngIf="usuarioForm.get('nombre')?.invalid && usuarioForm.get('nombre')?.touched">
                        <small *ngIf="usuarioForm.get('nombre')?.hasError('required')" class="text-danger">Nombre es requerido.</small>
                        <small *ngIf="usuarioForm.get('nombre')?.hasError('minlength')" class="text-danger">Debe tener al menos 3 caracteres.</small>
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <label>Apellido</label>
                    <input type="text" class="form-control" formControlName="apellido">
                    <div *ngIf="usuarioForm.get('apellido')?.invalid && usuarioForm.get('apellido')?.touched">
                        <small *ngIf="usuarioForm.get('apellido')?.hasError('required')" class="text-danger">Apellido es requerido.</small>
                        <small *ngIf="usuarioForm.get('apellido')?.hasError('minlength')" class="text-danger">Debe tener al menos 3 caracteres.</small>
                    </div>
                </div>
                <div class="col-md-2 form-group">
                    <label>Fecha de Nacimiento</label>
                    <input type="date" class="form-control" formControlName="fecha_nacimiento">
                    <div *ngIf="usuarioForm.get('fecha_nacimiento')?.invalid && usuarioForm.get('fecha_nacimiento')?.touched">
                        <small *ngIf="usuarioForm.get('fecha_nacimiento')?.hasError('required')" class="text-danger">Fecha de Nacimiento es requerida.</small>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
            <!-- campo direccion -->
            <div class="col-md-4 form-group">
                <label>Dirección</label>
                <input type="text" class="form-control" formControlName="direccion">
                <div *ngIf="usuarioForm.get('direccion')?.invalid && usuarioForm.get('direccion')?.touched">
                    <small *ngIf="usuarioForm.get('direccion')?.hasError('required')" class="text-danger">Dirección es requerida.</small>
                </div>
            
            </div>
            <!-- campo telefono -->
            <div class="col-md-4 form-group">
                <label>Celular</label>
                <input type="text" class="form-control" formControlName="telefono">
                <div *ngIf="usuarioForm.get('telefono')?.invalid && usuarioForm.get('telefono')?.touched">
                    <small *ngIf="usuarioForm.get('telefono')?.hasError('required')" class="text-danger">Celular es requerido.</small>
                    <small *ngIf="usuarioForm.get('telefono')?.hasError('pattern')" class="text-danger">Celular debe tener 9 dígitos.</small>
                </div>
            </div>
            <!-- campo correo -->
            <div class="col-md-4 form-group">
                <label>Correo</label>
                <input type="email" class="form-control" formControlName="correo">
                <div *ngIf="usuarioForm.get('correo')?.invalid && usuarioForm.get('correo')?.touched">
                    <small *ngIf="usuarioForm.get('correo')?.hasError('required')" class="text-danger">Correo es requerido.</small>
                    <small *ngIf="usuarioForm.get('correo')?.hasError('email')" class="text-danger">Debe ser un correo válido.</small>
                </div>
            </div>
            </div>
            <div class="row mb-3">
                 <!-- select genero -->
            <div class="col-md-4 form-group mt-2">
                <label>Genero</label>
                <select formControlName="genero" class="form-control">
                    <option value="" disabled selected>Seleccione un Genero</option>
                    <option *ngFor="let gen of generos" [value]="gen.codigo">{{ gen.descripcion }}</option>
                </select>
                <div *ngIf="usuarioForm.get('genero')?.invalid && usuarioForm.get('genero')?.touched">
                    <small *ngIf="usuarioForm.get('genero')?.hasError('required')" class="text-danger">El genero es requerido.</small>
                </div>
            </div>
            <!-- select rol -->
            <div class="col-md-4 form-group mt-2">
                <label>Rol</label>
                <select formControlName="rol_id" class="form-control">
                    <option value="" disabled selected>Seleccione un Rol</option>
                    <option *ngFor="let rol of roles" [value]="rol.codigo">{{ rol.descripcion }}</option>
                </select>
                <div *ngIf="usuarioForm.get('rol_id')?.invalid && usuarioForm.get('rol_id')?.touched">
                    <small *ngIf="usuarioForm.get('rol_id')?.hasError('required')" class="text-danger">El Rol es requerido.</small>
                </div>
            </div>
            <!-- Select estado -->
            <div class="col-md-4 form-group mt-2">
                <label>Estado</label>
                <select formControlName="estado_id" class="form-control">
                    <option value="" disabled selected>Seleccione un Estado</option>
                    <option *ngFor="let est of estado" [value]="est.codigo">{{ est.descripcion }}</option>
                </select>
                <div *ngIf="usuarioForm.get('estado_id')?.invalid && usuarioForm.get('estado_id')?.touched">
                    <small *ngIf="usuarioForm.get('estado_id')?.hasError('required')" class="text-danger">El estado es requerido.</small>
                </div>
            </div>
            </div>
            
            <div class="form-group mt-4">
                <button type="submit" class="btn btn-dark" [disabled]="usuarioForm.invalid">
                    <i class="bi bi-plus-circle"> Registrar</i>
                </button>
            </div>
        </form>
        </div>
    </div>
</div> 
</div>

