<div class="table-responsive">
 <table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Usuario</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Fecha Nacimiento</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Género</th>
            <th>Rol</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of Usuarios">
            <td>{{user.id_usuario}}</td>
            <td>{{user.usuario}}</td>
            <td>{{user.dni}}</td>
            <td>{{user.nombre}}</td>
            <td>{{user.apellidos}}</td>
            <td>{{user.correo}}</td>
            <td>{{user.fecha_nacimiento | date:'yyyy-MM-dd'}}</td>
            <td>{{user.direccion}}</td>
            <td>{{user.telefono}}</td>
            <td>{{user.genero_id}}</td>
            <td>{{user.rol_id}}</td>
            <td>{{user.estado_id}}</td>
            <td>
                <div class="d-flex align-items-center gap-2">
                    <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#editarUsuario">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash3"></i>
                    </button>
                </div>
        </tr>
        <tr *ngIf="Usuarios.length === 0">
            <td colspan="14" class="text-center text-danger fw-bold">No hay usuarios registrados</td>
        </tr>
    </tbody>
</table>
</div>
<router-outlet></router-outlet>

