<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cargo</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let provee of Proveedor">
            <td>{{provee.id_proveedor}}</td>
            <td>{{provee.nombre}}</td>
            <td>{{provee.nombre_compania}}</td>
            <td>{{provee.contacto}}</td>
            <td>{{provee.correo}}</td>
            <td
            *ngIf="provee" 
    [ngClass]="provee.estado === 'Activo' ? 'text-success' : 'text-danger'"
            >{{provee.estado}}</td>
            <td>
                <div class="d-flex align-items-center gap-2">
                    <button
                    type="button"
                    class="btn btn-success btn-sm "
                    data-bs-toggle="modal"
                    data-bs-target="#editarProveedor"
                    (click)="getProveedorByID(provee.id_proveedor)"
                  >
                  <i class="bi bi-pencil-square"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    (click)="eliminarCategoria(provee.id_proveedor)">
                  
                  <i class="bi bi-trash3"></i>
                  </button>
                </div>
              </td>
        </tr>
        <tr *ngIf="Proveedor.length === 0">
            <td colspan="6" class="text-center text-danger fw-bold">No hay usuarios registrados</td>
        </tr>
    </tbody>
</table>
<!-- Modal -->
<div
  class="modal fade"
  id="editarProveedor"
  tabindex="-1"
  aria-labelledby="editarProveedorLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #8fabff;">
        <h5 class="modal-title" id="editarProveedor">Actualizar Proveedor</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <!-- Alertas -->
        <div
          class="alert alert-success alert-dismissible fade show"
          role="alert"
          *ngIf="showsuccess"
        >
          <strong>¡Éxito!</strong> El producto se ha actualizado correctamente.
          <button
            type="button"
            class="btn-close"
            (click)="showsuccess = false"
            aria-label="Close"
          ></button>
        </div>

        <div
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
          *ngIf="showError"
        >
          <strong>¡Error!</strong> No se pudo actualizar el producto.
          <button
            type="button"
            class="btn-close"
            (click)="showError = false"
            aria-label="Close"
          ></button>
        </div>

        <!-- Formulario -->
        <form [formGroup]="proveedorForm" (ngSubmit)="onSubmit()">
          <!-- ID (oculto) -->
          <input
            type="hidden"
            formControlName="id_proveedor"
            [ngModel]="proveedorByID.id_proveedor"
          />
          <div class="row mb-3">
            <!-- Nombre -->
            <div class="col-md-6 form-group">
              <label for="nombre">Nombre</label>
              <input type="text" formControlName="nombre" id="nombre" class="form-control"
               placeholder="Nombre del proveedor"
               [(ngModel)]="proveedorByID.nombre"
               [ngClass]="{ 'is-invalid': proveedorForm.get('nombre')?.invalid && proveedorForm.get('nombre')?.touched }">
              <div *ngIf="proveedorForm.get('nombre')?.invalid && proveedorForm.get('nombre')?.touched">
                <small class="text-danger">El nombre es requerido</small>
              </div>
            </div>
      
            <!-- Nombre de la Compañía -->
            <div class="col-md-6 form-group">
              <label for="nombre_compania">Nombre de la Compañía</label>
              <input type="text" formControlName="nombre_compania"
               id="nombre_compania" class="form-control" 
               placeholder="Nombre de la compañía"
               [(ngModel)]="proveedorByID.nombre_compania"
               [ngClass]="{ 'is-invalid': proveedorForm.get('nombre_compania')?.invalid && proveedorForm.get('nombre_compania')?.touched }">
              <div *ngIf="proveedorForm.get('nombre_compania')?.invalid && proveedorForm.get('nombre_compania')?.touched">
                <small class="text-danger">El nombre de la compañía es requerido</small>
              </div>
            </div>
            </div>
            <div class="row mb-3">
            <!-- Contacto -->
            <div class="col-md-6 form-group">
              <label for="contacto">Contacto</label>
              <input type="text" formControlName="contacto" 
              id="contacto" class="form-control"
               placeholder="Nombre del contacto"
               [(ngModel)]="proveedorByID.contacto"
               [ngClass]="{ 'is-invalid': proveedorForm.get('contacto')?.invalid && proveedorForm.get('contacto')?.touched }">
              <div *ngIf="proveedorForm.get('contacto')?.invalid && proveedorForm.get('contacto')?.touched">
                <small class="text-danger">El contacto es requerido</small>
              </div>
            </div>
      
            <!-- Correo -->
            <div class="col-md-6 form-group">
              <label for="correo">Correo Electrónico</label>
              <input type="email" formControlName="correo"
               id="correo" class="form-control"
                placeholder="Correo electrónico"
                [(ngModel)]="proveedorByID.correo"
                [ngClass]="{ 'is-invalid': proveedorForm.get('correo')?.invalid && proveedorForm.get('correo')?.touched }">
              <div *ngIf="proveedorForm.get('correo')?.invalid && proveedorForm.get('correo')?.touched">
                <small *ngIf="proveedorForm.get('correo')?.hasError('required')" class="text-danger">El correo es requerido</small>
                <small *ngIf="proveedorForm.get('correo')?.hasError('email')" class="text-danger">Debe ser un correo válido</small>
              </div>
            </div>
            </div>
            <!-- Estado (Select) -->
            <div class="col-md-4 form-group">
              <label for="estado">Estado</label>
              <select
              class="form-select"
              id="estado"
              formControlName="estado"
              [(ngModel)]="proveedorByID.estado_id"
              [ngClass]="{
                'is-invalid':
                  proveedorForm.get('estado')?.invalid &&
                  proveedorForm.get('estado')?.touched
              }"
            >
              <option value="" disabled selected>Seleccione un estado</option>
              <option
                *ngFor="let est of estado"
                [value]="est.codigo"
                [selected]="est.codigo === proveedorByID.estado_id?.value"
              >
                {{ est.descripcion }}
              </option>
            </select>
              <div *ngIf="proveedorForm.get('estado_id')?.invalid && proveedorForm.get('estado_id')?.touched">
                <small class="text-danger">El estado es requerido</small>
              </div>
            </div>
      
            <!-- Botón de Submit -->
            <div class="form-group">
              <button type="submit" class="btn mt-4" style="background-color: #8fabff;" [disabled]="proveedorForm.invalid">
                <i class="bi bi-arrow-clockwise"> Actualizar</i>
              </button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
