<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cargo</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let provee of Proveedor">
            <td>{{provee.id_proveedor}}</td>
            <td>{{provee.nombre}}</td>
            <td>{{provee.nombre_compania}}</td>
            <td>{{provee.contacto}}</td>
            <td>{{provee.correo}}</td>
            <td>{{provee.estado}}</td>
        </tr>
        <tr *ngIf="Proveedor.length === 0">
            <td colspan="6" class="text-center text-danger fw-bold">No hay usuarios registrados</td>
        </tr>
    </tbody>
</table>
<router-outlet></router-outlet>
