<ul class="nav nav-tabs" style="background-color: #2e85ff;">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Producto</a>
      <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" [routerLink]="['/producto']" routerLinkActive="router-link-active">Tabla</a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a class="dropdown-item" [routerLink]="['/add-producto']" routerLinkActive="router-link-active">Agregar</a>
        </li>
      </ul>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Categoría</a>
        <ul class="dropdown-menu">
          <li>
              <a class="dropdown-item" [routerLink]="['/categoria']" routerLinkActive="router-link-active">Tabla</a>
          </li>
          <li>
              <hr class="dropdown-divider">
          </li>
          <li>
              <a class="dropdown-item" [routerLink]="['/add-categoria']" routerLinkActive="router-link-active">Agregar</a>
          </li>
        </ul>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Proveedor</a>
        <ul class="dropdown-menu">
          <li>
              <a class="dropdown-item" [routerLink]="['/proveedor']" routerLinkActive="router-link-active">Tabla</a>
          </li>
          <li>
              <hr class="dropdown-divider">
          </li>
          <li>
              <a class="dropdown-item" [routerLink]="['/add-proveedor']" routerLinkActive="router-link-active">Agregar</a>
          </li>
        </ul>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Usuario</a>
        <ul class="dropdown-menu">
          <li>
              <a class="dropdown-item" [routerLink]="['/usuario']" routerLinkActive="router-link-active">Tabla</a>
          </li>
          <li>
              <hr class="dropdown-divider">
          </li>
          <li>
              <a class="dropdown-item" [routerLink]="['/add-usuario']" routerLinkActive="router-link-active">Agregar</a>
          </li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Movimientos</a>
        <ul class="dropdown-menu">
          <li>
              <a class="dropdown-item" [routerLink]="['/inventario']" routerLinkActive="router-link-active">Tabla</a>
          </li>
        </ul>
    </li>
    <li class="nav-item ms-auto">
        <a class="nav-link text-white" href="#" >
            <i class="bi bi-person-fill" ></i>
        </a>
    </li>
    <li class="nav-item">
        
    </li>
</ul>


